* {
    border: 1px solid red;
}

.ColContainer {
    display:flex;
    flex-basis: 50px;
    flex-direction:column;
}

.RowContainer {
    display:flex;
    flex:1;
    flex-basis: 50px;
    flex-direction: row;
    background-color: dodgerblue;
}

.Box {
    width: 50px;
    flex-basis: 50px;
}