* {
    border: 1px solid red;
}

.ColContainer {
    display:flex;
    flex-basis: 50px;
    flex-direction:column;
}

.RowContainer {
    display:flex;
    flex:1;
    flex-basis: 50px;
    flex-direction: row;
    width: 0px;
    /*background-color: dodgerblue;*/
}

.Box {
    width: 50px;
    flex-basis: 50px;
    flex-shrink:0;
}

.hoverBox {
    width: 50px;
    flex-basis: 50px;
    flex-shrink:0;
    background-color: green;
}